@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Alata', Arial, Helvetica, sans-serif;
}

.header {
  height: 4em;
  background-color: #99FFCD;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.app-title {
  display: flex;
}

.app-name {
  font-size: xx-large;
}

p {
  margin-top: .5em;
}

a {
  text-decoration: none;
  color: black;
}

.stock-kawaii-app-icon {
  height: 3em;
  margin-right: .5em;
}

.create-link {
  height: 30px;
  margin-left: auto;
}

.create-link-container {
  margin-left: auto
}

.banner {
  height: 24em;
  background-image: url(https://static.vecteezy.com/system/resources/previews/014/159/450/original/hand-drawn-cute-mountain-illustration-free-vector.jpg);
  background-size: contain;
  background-repeat: repeat-x;
}

.about {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 5em;
}

.promo {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.snowpad {
  color:rgb(0, 0, 0);
  display: inline-flex;
  font-size: medium;
  flex-direction: column;
  justify-content: space-around;
  height:17%;
  width: 28%;
  border: 5px solid rgb(246, 177, 209);
  border-radius: 5px;
  font-size: 13px;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

.footer {
  height: 10em;
  background-color: rgb(246, 177, 209);
}

.create-page {
  height: 21em;
  display: flex;
}

.snowpad-show {
  display: flex;
  flex-direction: column ;
}

.show-form {
  margin-left: 43%;
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.snowpad-image-show {
  display: flex;
  margin-left:33%;
  max-width: 500px;
  max-height: 500px;
}

.show-info {
  margin-left: 38%
}



